.wow{
  width: 100px;
}
#heading{
  text-align: center;
  margin-top: 150px;
}
#para{
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}
#iBox{
  display: block;
  margin: auto;
  height: 18px;
}
#submit{
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 5px;
  display: block;
  margin: 10px auto;
}